.App {
  text-align: center;
}
img {
  border-radius:50%;
}
.titre {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  font-size:50px;
}
.contacts{
  text-align: left;
  max-width: 50%;
  margin-left: 600px;
  margin-right:400px;
}
.contacts > button {
  align-self: center;
  margin-top: 15px;
}
.buttons:hover{
  color: white;
  background-color: black;
}
.pied{
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px;
  font-size:14px;
  font-weight:bold;
}
.profiles{
  font-size:25px;
  display:flex;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
}